// global color settings
// those variables can be used to create themes
$c-app-bg: white;
$c-side-box: rgba(255, 122, 0, 0.31);
$c-process-container: #c1d9ff;
$c-process-step-bg: #fff4e3;
$c-process-step-text: #252525;
$c-sub-process-trigger: green;
$c-sub-process-bg: white;