// global color settings
// those variables can be used to create themes
$c-app-bg: white;
$c-side-box: rgba(255, 122, 0, 0.31);
$c-process-container: #c1d9ff;
$c-process-step-bg: #fff4e3;
$c-process-step-text: #252525;
$c-process-step-title-bg: linear-gradient(-180deg, rgba(250,217,97,0.74) 50%, rgba(246,125,57,0.60) 100%);
$c-sub-process-trigger: green;
$c-sub-process-bg: white;
